body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#input-half {
    margin-left: 30px;
    flex-basis: 0;
    flex-grow: 1;
}

#solution-half {
    width: 100%;
    padding-left: 30px;
    flex-basis: 0;
    flex-grow: 1;
}

#solution-board {
    display: flex;
    flex-wrap: wrap;
    height: 292px;
    width: 292px;
}

.thick-board-border {
    border: 3px solid green;
}

#number-pad {
    display: flex;
    flex-wrap: wrap;
    width: 96px;
    height: 96px;
    border: 1px solid green;
    margin-top: 20px;
}

.number {
    border: 1px solid grey;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid green;
    height: 292px;
    width: 292px
}

#button-row {
    display: flex;

}

button {
    height: 40px;
    width: 80px;
    border: 2px solid grey;
    margin-top: 30px;
    margin-right: 10px;
}

#solve-button {
    background-color: antiquewhite;
}

#reset-button {
    background-color: coral;
}

.tile {
    border: 1px solid green;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.thick-right-border {
    border-right: 3px solid green;
}

.thick-bottom-border {
    border-bottom: 3px solid green;
}

.selected-number {
    background-color: lightblue;
}