<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/script.js"></script>
    <title>Document</title>
</head>

<body>
    <h3>Sudoku Solver</h3>
    <div id="game">
        <div id="game-board"></div>


        <div id="number-pad"></div>
        <div id="button-row">
            <button id="solve-button">Solve!</button>
            <button id="reset-button">Reset</button>
            <button id="remove-number">Remove number</button>
        </div>
    </div>

</body>

</html>